* {
    background-color: black;
    color: white;
    text-align: center;
}

.container {
    width: 50%;
    margin: auto;
    position: relative;
    cursor: default;
}

.story {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}

.story:hover {
  opacity: 1;
}

.title {
    text-decoration: underline;
}

.title:hover {
    cursor: pointer;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}